{% extends 'base.html' %}
{% load static %}

{% block hero %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal"><i class="fa fa-map-signs"></i> Verificación Nacional Muestral</h1>
    <p class="fs-2 text-muted">Secciones en VNM 2023</p>
  </div>
{% endblock hero %}

{% block site_title %}Secciones VNM{% endblock %}

{% block content %}
<div class="row text-right">
  <div class="col text-right">
    <a class="btn btn-primary text-right" href="{% url 'create' %}">
      <i class="fa fa-plus-square" aria-hidden="true"></i>
      Agregar PUSINEX</a>
  </div>
</div>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Distrito</th>
      <th scope="col">Sección</th>
      <th scope="col">Localidad</th>
      <th scope="col">Actualización</th>
      <th scope="col">Hojas</th>
      <th scope="col">Archivo</th>
    </tr>
    </thead>
    <tbody>
    {% for seccion in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td class="">{{ seccion.distrito.distrito|stringformat:"02d" }}</td>
        <td class="">{{ seccion.seccion|stringformat:"04d" }}</td>
        <td>
          <a href="/localidad/{{ seccion.pusinex_set.all.0.localidad.id }}">
            {{ seccion.pusinex_set.all.0.localidad.localidad|stringformat:"04d"}} {{ seccion.pusinex_set.all.0.localidad.nombre }}
          </a>
        </td>
        <td>{{ seccion.pusinex_set.all.0.revision_set.latest.f_act }}</td>
        <td>{{ seccion.pusinex_set.all.0.revision_set.latest.hojas }}</td>
        <td>{% if seccion.pusinex_set.all.0.revision_set.last.archivo.url %}
          <a href="{{ seccion.pusinex_set.all.0.revision_set.last.archivo.url }}">Descargar</a>
        {% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}

