{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block site_title %}Portada{% endblock %}

{% block hero %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">PUSINEX</h1>
    <p class="fs-5 text-muted">
      Plano Urbano Seccional con Números Exteriores
    </p>
  </div>
{% endblock hero %}

{% block content %}



{% for seccion in secciones %}
  {% ifchanged seccion.distrito %}
    <div>
     <table class="table table-bordered table-hover table-striped table-condensed">
       <thead class="">
         <tr>
           <th>Distrito</th>
           <th>Municipio</th>
           <th>Secciones</th>
         </tr>
       </thead>
     <tbody>
    {% endifchanged %}
    {% ifchanged seccion.municipio %}
      <tr>
        <td class="text-center">0{{ seccion.distrito.distrito }}</td>
        <td><a href="{% url 'municipio' seccion.municipio.municipio %}">{{ seccion.municipio.municipio|stringformat:"03d" }} {{ seccion.municipio.nombre }}</a></td>
        <td class="text-right">{{ seccion.municipio.seccion_set.count }}</td>
      </tr>
     {% endifchanged %}
{% endfor %}
      </tbody>
      </table>
      </div>

{% endblock content %}